.holiday-shadow {
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  height: 105px;
}

.holiday-shadow img {
  width: 50%;
  height: 50%;
}

.Holiday-Link .owl-item {
  width: 297px;
}

.Holiday-Link .owl-stage-outer{
  padding:10px 0px;
}

.Holiday-Link .owl-nav {
  position: relative;
  top: -97px;
  right: 6px;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background: #ffffff;
}

.Holiday-Link .owl-nav .owl-prev {
  position: absolute;
  left: -17px;
  top: 10px;
  border-radius: 50px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
  width: 36px;
  height: 33px;
  background: #ffffff;
  opacity: 10;
  margin: 0;
}

.Holiday-Link .owl-nav .owl-prev .disabled {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.Holiday-Link .owl-nav .owl-prev:hover {
  background: #ffffff !important;
}

.Holiday-Link .owl-nav .owl-prev span {
  color: #f15a22;
  font-size: 26px;
  line-height: 24px;
}

.Holiday-Link .owl-nav .owl-next {
  position: absolute;
  right: -30px;
  top: 10px;
  border-radius:50px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  width: 36px;
  height: 33px;
  background: #ffffff;
  margin: 0;
}

.Holiday-Link .owl-nav .owl-next .disabled {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.Holiday-Link .owl-nav .owl-next:hover {
  background: #ffffff !important;
}

.Holiday-Link .owl-nav .owl-next span {
  color: #f15a22;
  font-size: 26px;
  line-height: 24px;
}

/* Shadow */

.Holiday-Link .off-shadow {
  width: 235px;
  height: 208px;
  padding: 170px 133px 14px 20px;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 52%, #000);
}
